@charset "UTF-8";
:root{
    /* Cor dos backgrounds e Cor das fontes*/
    --corPrincipal: #fbf4ff;
    --corSegundaria: #20162b;
    --corBgLetras: #20162b6f;
    /* Fontes */
    --fonteTituloH1: normal bold 3em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonteSubTitulos: normal bold 2em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonteParagrafos: normal lighter 1em 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
    margin: 0px;

}
body{
    background-color: var(--corPrincipal);
    width: 100vw;
}
header{
    background-color: var(--corSegundaria);
    color: var(--corPrincipal);
    text-align: center;
    padding: 40px;
}
header h1{
    font: var(--fonteTituloH1);

}
header h2{
    font: var(--fonteSubTitulos)
}
a{
    text-decoration: none;
    color: var(--corPrincipal);
}
a:hover{
    color: rgb(78, 15, 107);
    text-decoration: underline;
}
main{
    text-indent: 5px;
    margin: 1px 0px 0px 0px;
}
article{
    background-color:var(--corPrincipal);
}
.bgMusicas{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    position: obsolute; 
    background-position: center bottom;
}
#hihigh{
    background-image: url(assets/img/bg_hihigh.gif);
    background-position: center center;
}
#butterfly{
    background-image: url(assets/img/bg_butterfly.gif);
    background-position: center center;
}
#soWhat{
    background-image: url(assets/img/bg_sowhat.webp); 
    background-position: center center;
}
#whynot{
    background-image: url(assets/img/bg_whyNot.webp);
}

.tituloDaMusica{
    background-color: var(--corSegundaria);
    color: var(--corPrincipal);
    margin: 0px;
    padding-left: 25px;
    font: var(--fonteSubTitulos)
    
}
.letra{
    background-color: var(--corPrincipal);
    margin: 0px 25px 0px 0px;
    font: var(--fonteParagrafos);
    padding: 15px;
    width: 45vw;
    background-color: var(--corBgLetras);
    color: var(--corPrincipal);
}
.letra p{
    margin: 20px 20px 0px 20px;
    text-align: center;

}
footer{
    background-color: var(--corSegundaria);
    color:var(--corPrincipal) ;
    padding: 50px;
    text-align: center;
    font-size: 1em;
    margin: 0px;
}